<div class="navbar">
    <div class="logo">
        FSD-Student
    </div>
    <div>
        <button (click)="logOut()" type="button">
            Log Out
        </button>
    </div>
</div>
<ul class="admin-navbar">
    <li>
        <a routerLink="profile" routerLinkActive="active">Profile</a>
    </li>
    <li>
        <a routerLink="attendance" routerLinkActive="active">Attendance</a>
    </li>
    <li>
        <a routerLink="group" routerLinkActive="active">group</a>
    </li>
    
    
</ul>
<div class="box">
    <router-outlet></router-outlet>
</div>
