<div class="attendance-container">
    <form [formGroup]="attendanceForm" (ngSubmit)="onLoad()">
      <label for="batch">Batch:</label>
      <select id="batch" formControlName="batch">
        <option value="">Select Batch</option>
        <option *ngFor="let b of batches" [value]="b.batchName">{{ b.batchName }}</option>
      </select>
  
      <label for="month">Month:</label>
      <input type="month" id="month" formControlName="month" />
  
      <button type="submit">Load Attendance</button>
      <button type="button" (click)="clearForm()">Clear All</button>
      <button type="button" (click)="saveAttendance()">Save</button>
    </form>
  
    <div *ngIf="selectedBatch && selectedMonth">
      <form *ngIf="studentAttendanceForm" [formGroup]="studentAttendanceForm">
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>UID</th>
                <th>Name</th>
                <th *ngFor="let d of date">{{ d }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let uid of uids">
                <td>{{ uid.uid }}</td>
                <td>{{ uid.name }}</td>
                <td *ngFor="let d of dateList">
                  <input
                    type="checkbox"
                    [formControlName]="uid.uid + '_' + d"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    
  </div>
  