<div class="navbar">
    <div class="logo">
        FSD-Admin
    </div>
    <div>
        <button (click)="logOut()" type="button">
            Log Out
        </button>
    </div>
</div>
<ul class="admin-navbar">
    <li>
        <a routerLink="student" routerLinkActive="active">Student</a>
    </li>
    <li>
        <a routerLink="mentor" routerLinkActive="active">mentor</a>
    </li>
    <li>
        <a routerLink="group" routerLinkActive="active">group</a>
    </li>
    <li>
        <a routerLink="attendance" routerLinkActive="active">attendance</a>
    </li>
    
</ul>
<div class="box">
    <router-outlet></router-outlet>
</div>
