<div class="container">
  <form [formGroup]="attendanceForm" class="form-controls">
    <label>Select Batch:</label>
    <select formControlName="batch">
      <option *ngFor="let batch of batches" [value]="batch.batchName">{{ batch?.batchName }}</option>
    </select>

    <label>Select Month:</label>
    <input type="month" formControlName="month" />

    <button type="button" (click)="onLoad()">Load Attendance</button>
  </form>

  <div *ngIf="studentsAttendance.length > 0">
    <table class="attendance-table">
      <thead>
        <tr>
          <th>UID</th>
          <th>Name</th>
          <th *ngFor="let day of daysInMonth">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of studentsAttendance">
          <td>{{ student.uid }}</td>
          <td>{{ student.name }}</td>
          <td *ngFor="let day of daysInMonth">
            <input
              type="checkbox"
              [checked]="student.attendanceByDay[day] === 'PRESENT'"
              (change)="toggleAttendance(student, day)"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <div class="btns">
      <button (click)="onClear()">Clear</button>
      <button (click)="onSave()">Save</button>
    </div>
  </div>
</div>
