.container {
  padding: 20px;
}

.form-controls {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.attendance-table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

.attendance-table th,
.attendance-table td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
}

.btns {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
