<div class="mentor-header">
  <h1>Mentor Management</h1>
  <button class="add-btn" (click)="openForm()">+ Add Mentor</button>
</div>

<section class="mentor-table">
  <div class="table-row table-head">
      <div>Mentor ID</div>
      <div>Name</div>
      <div>Email</div>
      <div>Batch</div>
      <div style="text-align: center;">Action</div>
  </div>
  <hr />
  <div class="table-row" *ngFor="let mentor of mentors; let i = index">
      <div>{{ mentor.mentorId }}</div>
      <div>{{ mentor.name }}</div>
      <div>{{ mentor.email }}</div>
      <div>{{ mentor.batch.batchName }}</div>
      <div class="table-actions">
          <button class="edit-btn" (click)="onEdit(mentor)">Edit</button>
          <button class="delete-btn" (click)="onDelete(mentor.mentorId)">Delete</button>
      </div>
  </div>
</section>

<section class="form-container" *ngIf="isFormVisible">
  <div class="form-modal">
      <div class="form-header">
          <h2>{{ editingMentor ? 'Edit Mentor' : 'Add Mentor' }}</h2>
          <button class="close-btn" (click)="closeForm()">×</button>
      </div>

      <form [formGroup]="mentorForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>Name</label>
              <input type="text" formControlName="name" class="input-field" placeholder="Enter Name" />
          </div>

          <div class="form-group">
              <label>Email</label>
              <input type="email" formControlName="email" class="input-field" placeholder="Enter Email" />
          </div>

          <div class="form-group">
              <label>Contact</label>
              <input type="tel" formControlName="contact" class="input-field" placeholder="Enter Contact No." />
          </div>

          <div class="form-group">
              <label>Gender</label>
              <select formControlName="gender" class="input-field">
                  <option value="" disabled>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
              </select>
          </div>

          <div class="form-group">
            <label>Batch</label>
            <select formControlName="batchName" class="input-field" >
              <!-- <option *ngFor="let batch of batch" [value]="batch.batchname">
                  {{ batch.batchname }} - {{ batch.venue }}
                </option> -->
                @for (item of batch; track $index) {
                  <option [value]="item.batchName" [selected]="editingMentor && editingMentor.batch.batchName === item.batchName">
                      {{ item.batchName }} - {{ item.venue }}
                  </option>
                }
            </select>
        </div>

          <div class="form-group">
              <label>Department</label>
              <input type="text" formControlName="department" class="input-field" placeholder="Enter Department" />
          </div>

          <div class="form-group">
              <label>Specialization</label>
              <input type="text" formControlName="specialization" class="input-field" placeholder="Enter Specialization" />
          </div>

          <div class="form-group submit-group">
              <button type="submit" class="submit-btn" [disabled]="mentorForm.invalid">
                  {{ editingMentor ? 'Update' : 'Create' }}
              </button>
          </div>
      </form>
  </div>
</section>
